.card {
    margin-top: 20px;
    margin-right: 50px;
    margin-bottom: 30px;
    border-color: black;
    border-radius: 10px;
    width: 30%;
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 30px;
    padding-bottom: 10px;
}
